@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>

    body {
        background-color: #f2f2f2;
    }

    .row.content {
        height: auto;
    }

    .leftrightNav {
        padding-top: 20px;
        background-color: #F9F9F9;
        height: auto;
    }

    .centerNav {
        background-color: #FFFFFF;
    }

    footer {
        background-color: #DADADA;
        color: #000000;
        padding: 15px;
    }

    .funkcionalnostiButtoni {
        width: 100%;
        text-align: center;
        display: block;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
        margin-bottom: 10px;
    }

    .no-trips-message {
        color: red;
        font-size: 20px;
        text-align: center;
        width: 100%;
        margin-top: 20px;
    }

    .new-badge {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .izlet-container {
        position: relative;
        padding: 10px;
        border: 1px solid #ddd;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
        margin-bottom: 5px;
    }

    #vlogaSelect, #vlogaSelectOption {
        width: 100%;
        text-align: center;
    }

</style>

@section SearchBar
    {
    <div class="input-group" style="width: 500px;">
        <input id="searchInput" type="search" class="form-control rounded" placeholder="Išči potovanje" aria-label="Search" aria-describedby="search-addon" />
    </div>

}

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 leftrightNav">
            <button id="dodajanjePotovanjaButton" class="funkcionalnostiButtoni" style="display: none;" onclick="location.href='/DodajanjePotovanja'">DODAJ IZLET</button>
            <button id="odstraniPotovanjeButton" class="funkcionalnostiButtoni" style="display: none;" onclick="location.href='/OdstranjevanjePotovanja'">ODSTRANI IZLET</button>
            <button id="upravljajPonudnikeButton" class="funkcionalnostiButtoni" style="display: none;" onclick="location.href='/UpravljanjePonudnika' ">UPRAVLJANJE PONUDNIKOV</button>
            <button id="pregledVsehPotovanjButton" class="funkcionalnostiButtoni" onclick="location.href='/PregledPotovanj' ">PREGLED VSEH VAŠIH IZLETOV</button>
            <button id="pregledVprasanikovButton" class="funkcionalnostiButtoni" style="display: none;" onclick="location.href='/PregledVprasalnik'">PREGLED VPRAŠALNIKOV</button>
        </div>

        <div class="col-sm-8 text-left centerNav">
            <h1 class="display-5 mb-3 text-primary text-center">IZLETI</h1>
            <div id="noTripsMessage" class="no-trips-message" style="display: none;">NOBEN IZLET SE NE UJEMA Z VAŠIM ISKANJEM</div>


            @foreach (var potovanje in Model.Potovanja)
            {
                <div class="izlet-container">
                    <h3><span class="badge badge-primary new-badge">Novo</span></h3>
                    <p><strong>Kraj:</strong> @potovanje.Kraj</p>
                    <p><strong>Cena:</strong> @potovanje.Cena €</p>
                    <p><strong>Ocene:</strong> @potovanje.Ocene</p>

                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#infoModal-@potovanje.PotovanjeId">Več informacij</button>

                    <div class="modal fade" id="infoModal-@potovanje.PotovanjeId" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel-@potovanje.PotovanjeId" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="infoModalLabel-@potovanje.PotovanjeId">Več informacij</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p><strong>Cena:</strong> @potovanje.Cena €</p>
                                    <p><strong>Kraj:</strong> @potovanje.Kraj</p>
                                    <p><strong>Trajanje:</strong> @potovanje.Trajanje dni</p>
                                    <p><strong>Datum izleta:</strong> @potovanje.Datum.ToString("dd-MM-yyyy")</p>
                                    <br />
                                    <p><strong>Opis:</strong> @potovanje.Opis</p>
                                    @if (potovanje.Rezervirano)
                                    {
                                        <p class="text-danger">Na ta izlet ste že prijavljeni!</p>
                                    }
                                </div>
                                <div class="modal-footer justify-content-center">
                                    @if (!potovanje.Rezervirano)
                                    {
                                        <form method="post" asp-page-handler="OnPost">
                                            <input type="hidden" name="PotovanjeId" value="@potovanje.PotovanjeId" />
                                            <button type="button" class="btn btn-success" onclick="confirmHotelReservation(@potovanje.PotovanjeId)">
                                                Rezerviraj izlet
                                            </button>


                                        </form>
                                    }
                                    else
                                    {
                                        <form method="post" asp-page-handler="CancelReservation" onsubmit="return confirm('Ali ste prepričani, da želite preklicati rezervacijo?');">
                                            <input type="hidden" name="PotovanjeId" value="@potovanje.PotovanjeId" />
                                            <button type="submit" class="btn btn-danger" data-trip-id="@potovanje.PotovanjeId">
                                                Prekliči rezervacijo
                                            </button>
                                        </form>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }




        </div>
        <div class="col-sm-2 leftrightNav">
            <div>
                <button class="btn btn-secondary dropdown-toggle" id="vlogaSelect" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Izberi vlogo
                </button>
                <ul class="dropdown-menu">
                    <a class="dropdown-item" id="vlogaSelectOption" href="#" onclick="izberiUporabnika('Uporabnik')">Uporabnik</a>
                    <a class="dropdown-item" id="vlogaSelectOption" href="#" onclick="izberiUporabnika('Ponudnik')">Ponudnik</a>
                    <a class="dropdown-item" id="vlogaSelectOption" href="#" onclick="izberiUporabnika('Administrator')">Administrator</a>
                </ul>
            </div>
        </div>
    </div>
</div>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
@section scripts {
    <script>
        $(document).ready(function () {
            $("#searchInput").on("input", function () {
                var searchText = $(this).val().toLowerCase();
                var hasTrips = false;

                $(".izlet-container").each(function () {
                    var potovanjeText = $(this).text().toLowerCase();
                    var matchesSearch = potovanjeText.includes(searchText);

                    $(this).toggle(matchesSearch);

                    if (matchesSearch) {
                        hasTrips = true;
                    }
                });

                $("#noTripsMessage").toggle(!hasTrips);
            });
        });

        function izberiUporabnika(role) {
            sessionStorage.setItem('userRole', role);
            document.getElementById('dodajanjePotovanjaButton').style.display = role === 'Ponudnik' ? 'block' : 'none';
            document.getElementById('odstraniPotovanjeButton').style.display = role === 'Ponudnik' ? 'block' : 'none';
            document.getElementById('upravljajPonudnikeButton').style.display = role === 'Administrator' ? 'block' : 'none';
            document.getElementById('pregledVprasanikovButton').style.display = role === 'Administrator' ? 'block' : 'none'; // Show the button for Administrators
        }


        function confirmHotelReservation(tripId) {
            var reserveHotel = confirm("Ali želite rezervirati tudi hotel?");
            if (reserveHotel) {
                window.location.href = '/HotelSelection?tripId=' + tripId;
            } else {
                $.ajax({
                    type: 'POST',
                    url: '/Index?handler=ReserveTripOnly',
                    headers: {
                        "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                    },
                    data: { "tripId": tripId },
                    success: function (response) {
                        if (response.success) {
                            alert("Izlet uspešno rezerviran!");

                            var reservationButton = $('button[data-trip-id="' + tripId + '"]');
                            reservationButton.text('Prekliči rezervacijo');
                            reservationButton.removeClass('btn-success').addClass('btn-danger');

                            reservationButton.off('click').click(function () {
                                return cancelReservation(tripId);
                            });
                        } else {
                            alert("Prišlo je do napake pri rezervaciji izleta.");
                        }
                    },
                    error: function () {
                        alert("Napaka pri komunikaciji s strežnikom.");
                    }
                });
            }
            return false;
        }

        function confirmHotelReservation(tripId) {
            var reserveHotel = confirm("Ali želite rezervirati tudi hotel?");
            if (reserveHotel) {
                window.location.href = '/HotelSelection?tripId=' + tripId;
            } else {
                redirectToBankingData(tripId);
            }
            return false;
        }



        function redirectToBankingData(tripId) {
            window.location.href = '/BankingData?tripId=' + tripId;
        }








    </script>
}