@page
@model RGIS_Vaja4.Pages.PregledVprasalnikModel

<style>
    .response-container {
        background-color: #fff;
        border: 1px solid #e5e5e5;
        padding: 20px;
        margin-bottom: 30px;
        border-radius: 5px;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    }

    .response-container h3 {
        color: #333;
        margin-bottom: 15px;
        text-align: center;
    }

    .response-container p {
        margin: 5px 0;
        font-size: 13px; 
    }

    .answers-section {
        background-color: #F9F9F9;
        padding: 30px;
        margin-top: 20px;
    }
</style>

<div class="answers-section">
    @foreach (var odgovor in Model.OdgovoriList)
    {
            <div class="response-container">
                <h3>ODGOVORI VPRAŠALNIKA @odgovor.odgovorId</h3>
                <h2>POTOVANJE:  @odgovor.potovanjeId</h2>
                <p><strong>1. Kako bi ocenili svojo celotno izkušnjo na tem potovanju od 1 do 5?:</strong> @odgovor.Odgovor1</p>
                <p><strong>2. Kako bi ocenili ceno v primerjavi z doživetjem?:</strong> @odgovor.Odgovor2</p>
                <p><strong>3. Kakšna je bila kakovost storitev?:</strong> @odgovor.Odgovor3</p>
                <p><strong>4. Kako bi ocenili prijaznost ljudi na destinaciji?:</strong> @odgovor.Odgovor4</p>
                <p><strong>5. Ali ste imeli dovolj možnosti za raznolike aktivnosti?:</strong> @odgovor.Odgovor5</p>
                <p><strong>6. Kako bi ocenili kakovost nastanitve?:</strong> @odgovor.Odgovor6</p>
                <p><strong>7. Ali ste bili zadovoljni s prehrano na destinaciji?:</strong> @odgovor.Odgovor7</p>
                <p><strong>8. Kako bi ocenili čistočo na destinaciji?:</strong> @odgovor.Odgovor8</p>
                <p><strong>9. Ali ste imeli težave z logistiko (prevoz, prevozna sredstva, itd.)?:</strong> @odgovor.Odgovor9</p>
                <p><strong>10. Kako bi ocenili informacije, ki ste jih prejeli pred potovanjem?:</strong> @odgovor.Odgovor10</p>
                <p><strong>11. Ali ste bili zadovoljni z organizacijo izletov in aktivnosti?:</strong> @odgovor.Odgovor11</p>
                <p><strong>12. Kako bi ocenili vzdušje na destinaciji?:</strong> @odgovor.Odgovor12</p>
                <p><strong>13. Ali bi se še enkrat odločili za to destinacijo?:</strong> @odgovor.Odgovor13</p>
                <p><strong>14. Ali ste imeli težave z jezikom na destinaciji?:</strong> @odgovor.Odgovor14</p>
                <p><strong>15. Ali bi priporočili to destinacijo drugim?:</strong> @odgovor.Odgovor15</p>
            </div>
    }
</div>
