@page
@model RGIS_Vaja4.Pages.UpravljanjePonudnikaModel
@{
}

<style>

    body {
        background-color: #f2f2f2;
    }

    .row.content {
        height: auto;
    }

    .leftrightNav {
        padding-top: 20px;
        background-color: #F9F9F9;
        height: auto;
    }

    .centerNav {
        background-color: #FFFFFF;
    }

    footer {
        background-color: #DADADA;
        color: #000000;
        padding: 15px;
    }

    .funkcionalnostiButtoni {
        width: 100%;
        text-align: center;
        display: block;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
        margin-bottom: 10px;
    }

    .izlet-container {
        padding: 10px;
        border: 1px solid #ddd;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
        margin-bottom: 5px;
    }

    #vlogaSelect, #vlogaSelectOption {
        width: 100%;
        text-align: center;
    }

    .additional-details {
        background-color: #FFFFFF;
        padding: 20px;
        border: 1px solid #ddd;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
        margin-bottom: 10px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 999;
        display: none;
    }

    .additional-details-text {
        color: #333;
    }

    .close-btn {
        background-color: #ddd;
        padding: 5px 10px;
        border: none;
        cursor: pointer;
    }

</style>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $(".izlet-container").click(function () {
            $('#detailsModal').modal('show');
        });
    });
</script>


<div class="col-sm-10 text-left centerNav">
    <h1 class="display-5 mb-3 text-primary">PONUDNIKI</h1>
    @foreach (var ponudnik in Model.Ponudniki)
    {
        <div class="izlet-container" data-toggle="modal" data-target="#detailsModal-@ponudnik.PonudnikId">
            <p><strong>Ponudnik:  </strong> @ponudnik.Ime</p>
            @if (ponudnik.Verodostojnost == true)
            {
                <p><strong>Verodostojnost: </strong> Verodostojen</p>
            }
            else
            {
                <p><strong>Verodostojnost: </strong> Ni verodostojen</p>
            }
            <form method="post" asp-page-handler="Delete" asp-route-PonudnikIdToDelete="@ponudnik.PonudnikId"
                  onsubmit="return confirm('Ali ste prepričani, da želite odstraniti?');"
                  style="text-align: center; margin-top: 10px;">
                <button type="submit" class="btn btn-danger btn-block" onclick="event.stopPropagation()">
                    Odstrani
                </button>
            </form>
        </div>

        <div class="modal fade" id="detailsModal-@ponudnik.PonudnikId" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel-@ponudnik.PonudnikId" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="detailsModalLabel-@ponudnik.PonudnikId">Additional Details for @ponudnik.Ime</h5>
                    </div>
                    <div class="modal-body">
                        <p><strong>Ime: </strong> @ponudnik.Ime</p>
                        <p><strong>Priimek: </strong> @ponudnik.Priimek</p>
                        <p><strong>Starost: </strong> @ponudnik.Starost</p>
                        <p><strong>Leto Rojstva: </strong> @ponudnik.LetoRojstva</p>
                        <p><strong>Naslov: </strong> @ponudnik.Naslov</p>
                        <p><strong>Kraj: </strong> @ponudnik.Kraj</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal()">Zapri</button>
                    </div>
                </div>
            </div>
        </div>
    }


</div>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>

</script>